/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

/* Remove Text Decoration from Links */
a {
    text-decoration: none;
}

/* List Styles */
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logo img {
    height: 40px;
}

/* Navigation Items */
.group-icons ul {
    display: flex;
    gap: 1rem;
}

/* Mobile Menu Icon */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    margin-right: 1rem;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: black;
    transition: background-color 1s ease;
}

/* Rotate Animation for Bars */
@keyframes rotateTop {
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(2px) rotate(360deg);
    }
}

@keyframes rotateBottom {
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translate(1rem,0.10rem) rotate(0deg);
        
    }
}

/* Close Button Styles */
.close-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    margin-right: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.close-menu.active {
    opacity: 1;
    transform: translate(2rem,0rem);
    position: absolute;
}

.close-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: background-color 0.3s ease;
}


/* Show the close button when the menu is active */
.group-icons ul.active + .close-menu.active {
    display: flex;
}

/* Media Query for Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .logo,
    .group-icons {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .logo img {
        height: auto;
    }

    .mobile-menu-icon , .close-menu {
        display: flex;
    }

    .group-icons ul {
        display: none;
        flex-direction: column;
        
        top: 60px;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .group-icons ul.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        animation: fadeInDown 0.7s ease forwards;
    }

    .group-icons ul li {
        padding: 10px;
        text-align: center;
    }

    .bar {
        background-color: #333;
    }

    /* Apply animations to mobile menu icon */

    .close-menu.active .bar:nth-child(1) {
        animation: rotateTop 1s ease forwards;
    }
    .close-menu.active .bar:nth-child(2) {
        animation: rotateBottom 1s ease forwards;
    }

    .close-menu.active .bar:nth-child(3) {
        animation: rotateTop 1s ease forwards;
    }



    /* Animation for dropdown menu */
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translate(-2rem,-3.6rem);
        }
    }
}
